*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
  color: wheat;
 background-color:rgb(25, 24, 24);
  color:white;
  font-family:cursive;
  
}